body {
      background: -webkit-linear-gradient(left, #C390D4, pink, lightblue);
      max-width: 700px;
      margin-left: auto;
      margin-right: auto;
      font-family: 'Playfair Display', serif;
}

h1 {
    text-align: center;
    font-size: 50;
    font-family: 'Playfair Display', serif;
}

h3 {
  text-indent: 30px;
}

img {
    max-width: 100%;
}
